@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

/* Basic styling for forms and layout */
body {
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

form {
    margin: 20px 0;
}

label {
    display: inline-block;
    width: 150px;
}

input, select {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
.footer-class {
    position: absolute;
    width: -webkit-fill-available;
    bottom: 1%;
}
